<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= render 'useraction',user:@user %>
  <% if current_user == @user%>
  <article>
    <h3>pending invitations:</h3>
       <%= render @pending_friends %>
  </article>
  <% end %>
  
  <article>
  <h3>mutual friends:</h3>
  <%= render @mutual_friends %>
  </article>
  <% end %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
